.contact {
  padding: 50px 20px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #004d40;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon-container:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: 1.8rem;
  color: #004d40;
  transition: color 0.3s;
}

.icon-container:hover .icon {
  color: #ffa726;
}

/* Support Me Section */
.support-me {
  margin-top: 40px;
}

.support-me h3 {
  font-size: 1.5rem;
  color: #004d40;
  margin-bottom: 15px;
}

.coffee-button {
  display: inline-block;
}

.coffee-icon {
  width: 200px; /* Adjust size as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.coffee-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
